/* General Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0b0a0a;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav .nav-links li a:hover {
    text-decoration: underline;
}

.hero {
    background-image: url('abc.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: #e1d5d5; 
    padding: 100px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero .btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.hero .btn:hover {
    background-color: #e5533d;
}

.menu {
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
}

.menu h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.menu-items {
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item h3, .menu-item p, .menu-item span {
    margin: 0;
}

.menu-item {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    text-align: left;
    transition: all;
}

.menu-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.menu-item span {
    font-size: 18px;
    font-weight: bold;
    color: #ff6347;
}

.menu-item button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: #282424;
    border: black;
    border-radius: 3px;
    cursor: pointer;
    display:block;
    
    border-radius: 5px;
}

.menu-item:hover{
    background-color: #2e40b6;
    color: #1da424;
}

.contact {
    padding: 60px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input, .contact textarea {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.contact button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #e5533d;
}
